doctype html
html
  head
    title Book Notification
  body
    h1 New Book Added to the System
    p A new book has been successfully added:
    ul
      li strong Title: #{title}
      li strong Author: #{author}
      li strong Year Published: #{year}
    p Thank you for keeping the library updated!
